
    <div style="padding-left:20px; padding-right:20px">
        <div class="container">
            <h1>New Event</h1>
            <hr/>
            <form name="newEventForm">
                <fieldset>
                    <label for="eventName">Event Name:</label>
                    <input id="eventName" required ng-model="event.name"  type="text" placeholder="Name of your event..."/>
                    <label for="eventDate">Event Date:</label>
                    <input id="eventDate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" type="text" placeholder="Date of your event (mm/dd/yyyy)..."/>
                    <label for="eventTime">Event Time:</label>
                    <input id="eventTime" ng-model="event.time" type="text" placeholder="Start and end time..."/>
                    <label for="eventLocation">Event Location:</label>
                    <input id="eventLocation" ng-model="event.location.address" type="text" placeholder="Address of your event..."/>
                    <br/>

                    <input id="eventCity" ng-model="event.location.city" type="text" class="input-small" placeholder="City..."/>
                    <input id="eventProvince" ng-model="event.location.province" type="text" class="input-small" placeholder="Province..."/>

                    <label for="eventImageUrl">image:</label>
                    <input id="eventImageUrl" ng-model="event.imageUrl" type="url" class="input-xlarge" placeholder="Url of the image..."/>

                </fieldset>

                <img ng-src="{{event.imageUrl}}" />
                <br/>
                <br/>

                <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event,newEventForm)" class="btn btn-primary">Save</button>
                <button type="submit" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>
